* {
  margin: 0;
  padding: 0;
}

body {
  border: 5px solid #084f93;
}

header {
  padding: 12px;

  background-color: #084f93;
}

header h1,
header h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

header h2 {
  color: #8dc73f;
}

nav {
  text-align: center;

  padding: 12px;

  background-color: #8dc73f;
}

nav a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  margin-left: 10px;
  margin-right: 10px;
}

nav a:hover {
  color: #fff;
}

nav a.selected {
  color: #fff;
}

nav + h2,
nav + h2 + h3 {
  text-align: center;
  background: linear-gradient(90deg, #fff 0%, #084f93 53%, #fff 100%);

  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 + p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #084f93;

  text-align: right;
  bottom: 0;
}

table {
  border-collapse: collapse;
  border: 2px solid #084f93;
  width: 80%;
  margin: 20px auto;
}

table li {
  text-align: center;
}

table caption {
  caption-side: bottom;
}

td {
  border: 1px solid #084f93;
  padding: 5px;
}

tr > th {
  background-color: #084f93;
  color: #fff;
  border: 1px solid #fff;
}

main {
  width: 80%;
  margin: 0 auto;
}

main > h2 {
  color: #fff;
  padding: 12px;
  text-align: center;
  background: linear-gradient(90deg, #fff 0%, #084f93 53%, #fff 100%);
}

dl,
ol,
ul {
}

dt {
  font-weight: bold;
}

.lista li {
  padding: 5px 0;
  border-bottom: 2px solid #000;
}

.lista {
  border-left: 5px solid #8dc73f;

  padding: 20px;
  background-color: #f0f0f0;
}
